NODE_ENV=development
PORT=3000

DATABASE_URL=
API_BASE_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

CHAPA_PUBLIC_KEY=CHAPUBK_TEST-C...
CHAPA_SECRET_KEY=CHASECK_TEST-123...
CHAPA_ENCRYPTION_KEY=abc11122
CHAPA_WEBHOOK_SECRET=secret_hash